:root {
    --primary-bg: #ffffff;
    --primary-bg-weak: #f8f8f8;
    --secondary-bg: #f0f0f0;
    --contrast-bg: #202020;

    --primary-text: #000000;
    --primary-text-weak: #404040;
    --contrast-text: #ffffff;

    --primary-href: #0000a0;
    --primary-href-hover: #0000ff;

    --border-strong: #000000;
    --border-medium: #606060;
    --border-weak: #c0c0c0;

    --loading-bg: #00000080;

    --login-btn-bg: #60ff60;
    --login-btn-bg-hover: #60c060;

    --votes-negative: #800000;
    --votes-up-bg: #80ff80;
    --votes-down-bg: #ffa0a0;

    --sidebar-item-bg: #ffffffc0;

    --error-text: #ff0000;
    --error-symbol: #000000;
    --error-bg: #ffc0c0;
}