:root {
    /***********
    * template *
    ***********/

    --app-bg-colour: #ffc0c0;

    --header-bg-colour: #c0ffc0;

    --menu-bg-colour: #ffffc0;

    --footer-bg-colour: #c0c0ff;

    --loading-bg-colour: #00000030;



    /****************
    * articles list *
    ****************/

    --articles-list-bg-colour: #c0c0c0;

    --articles-sort-bg-colour: #c0c0ff;

    --articles-card-bg-colour: #ffffff;



    /**********
    * article *
    ***********/
    
    
    /****************
    * comments list *
    ****************/

    --comments-list-bg-colour: #ffc0ff;
}