:root {
    --clr-primary-bg: #ffffff;
    --clr-primary-bg-wk: #f8f8f8;
    --clr-secondary-bg: #f0f0f0;
    --clr-contrast-bg: #202020;

    --clr-primary-text: #000000;
    --clr-primary-text-wk: #404040;
    --clr-contrast-text: #ffffff;

    --clr-primary-href: #0000a0;
    --clr-primary-href-hover: #0000ff;

    --clr-border-str: #000000;
    --clr-border: #606060;
    --clr-border-wk: #c0c0c0;

    --clr-sidebar-item-bg: #ffffffc0;
    
    --clr-menu-overlay-bg: #00000080;
    --clr-loading-bg: #ffffffd0;

    --clr-submit-btn-text: #000000;
    --clr-submit-btn-bg: #33b249;
    --clr-submit-btn-bg-hover: #47d247;

    --clr-comment-warning-text: #800000;
    --clr-comment-warning-bg: #ffc0c0;
    --clr-comment-warning-border: #a00000;
    --clr-comment-removed-bg: #ffe0e0;

    --clr-comment-delete-btn-bg: #ffc0c0;
    --clr-comment-delete-btn-bg-hover: #ff8080;
    --clr-comment-delete-btn-border: #a00000;

    --clr-votes-negative: #800000;
    --clr-votes-up-bg: #80ff80;
    --clr-votes-down-bg: #ffa0a0;

    --clr-error-text: #ff0000;
    --clr-error-symbol: #000000;
    --clr-error-bg: #ffc0c0;
}