.articles-sort > form {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.articles-sort > form > label {
    font-size: 0.9em;
}

.articles-sort > form > select,
.articles-sort > form > button {
    height: 2.5em;
    background-color: var(--clr-primary-bg);
    border: 1px solid var(--clr-border-wk);
    cursor: pointer;
}
.articles-sort > form > select:hover,
.articles-sort > form > button:hover {
    border-color: var(--clr-border);
}

.articles-sort > form > select {
    padding: 0 0.5em;
    font-family: inherit;
}

.articles-sort > form > button {
    padding: 0.2em;
}
.articles-sort > form > button > img {
    height: 100%;
    aspect-ratio: 1;
}