.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-bg);
}

.articles-list {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 1.5em;
}

@media (min-width: 768px) {
    .articles-list {
        gap: 1em;
    }
}