:root {
    --textarea-height: 7em;
}

.comments-add {
    position: relative;
    margin-bottom: 2em;
}

.comments-add > label {
    display: block;
    height: 0;
    visibility: hidden;
}

.comments-add > textarea {
    width: 100%;
    height: var(--textarea-height);
    resize: vertical;
    padding: 0.3em;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--clr-primary-bg-wk);
    border: 1px solid var(--clr-border);
    border-radius: 0.3em;
}
.comments-add > textarea:disabled {
    border-color: var(--clr-border-wk);
}

.comments-add > textarea:focus {
    border-width: 2px;
    border-color: var(--clr-border-str);
    outline: none;
}
.comments-add__textarea--invalid {
    border-color: var(--clr-comment-warning-border) !important;
}

.comments-add__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--textarea-height);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary-text-wk);
}
.comments-add__overlay > a {
    color: var(--clr-primary-href);
}
.comments-add__overlay > a:hover {
    color: var(--clr-primary-href-hover);
}

.comments-add__submit-btn {
    color: var(--clr-submit-btn-text);
    font-size: 0.9em;
    padding: 0.3em 0.6em;
    background-color: var(--clr-submit-btn-bg);
    border: 1px solid var(--clr-border);
    border-radius: 0.5em;
}
.comments-add__submit-btn:enabled:hover {
    background-color: var(--clr-submit-btn-bg-hover);
    cursor: pointer;
}
.comments-add__submit-btn:disabled {
    opacity: 0.5;
}

.comments-add > button[type=submit] {
    display: block;
    margin-left: auto;
}

.comments-add > p.comments-add__warning {
    float: left;
    margin: 0;
    padding: 0.3em;
    font-size: 0.9em;
    color: var(--clr-comment-warning-text);
    background-color: var(--clr-comment-warning-bg);
}