.comments-card {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
        "details vote"
        "body body";
}

.comments-card > p {
    margin: 0;
    padding: 0.5em;
}

.comments-card > p.user-and-time {
    grid-area: details;
    font-size: 0.9em;
    background-color: var(--secondary-bg);
}

.comments-card > p.user-and-time > a {
    color: var(--primary-href);
    font-weight: bold;
}
.comments-card > p.user-and-time > a:hover {
    color: var(--primary-href-hover);
}

.comments-card > figure {
    grid-area: vote;
    padding-right: 0.3em;
    background-color: var(--secondary-bg);
}

.comments-card > figure > button {
    width: 2em;
    height: 2em;
}

.comments-card > figure > span {
    font-weight: bold;
}

.comments-card > p.comment-body {
    grid-area: body;
    line-height: 1.6em;
    background-color: var(--primary-bg-weak);
}