.comments-card {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
        "details options"
        "body body"
        "vote .";
}

.comments-card > p {
    margin: 0;
    padding: 0.5em;
}

.comments-card > p.user-and-time {
    grid-area: details;
    font-size: 0.9em;
    background-color: var(--clr-secondary-bg);
}

.comments-card > p.user-and-time > a {
    color: var(--clr-primary-href);
    font-weight: bold;
}
.comments-card > p.user-and-time > a:hover {
    color: var(--clr-primary-href-hover);
}

.comments-card > figure {   /* comment voting */
    grid-area: vote;
    width: fit-content;
    padding: 0.5em;
    padding-right: 0.3em;
}
.comments-card > figure > button {
    width: 2em;
    height: 2em;
}
.comments-card > figure > span {
    font-weight: bold;
}

.comments-card > p.comment-body {
    grid-area: body;
    position: relative;
    line-height: 1.6em;
    background-color: var(--clr-primary-bg-wk);
}

.comments-card--deleted {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary-text-wk);
    background-color: var(--clr-comment-removed-bg);
}