.error-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.error-main > h1 {
    font-size: 2.5em;
    margin-top: 1em;
}

.error-main > img {
    height: 10em;
    border: 2px solid var(--border-weak);
    border-radius: 50%;
}

.error-main > h2 {
    padding: 0.5em;
    font-size: 1.5em;
    color: var(--error-text);
    background: var(--error-bg);
}

.error-main > a {
    color: var(--primary-href);
}
.error-main > a:hover {
    color: var(--primary-href-hover);
}