header {
    z-index: 98;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
    background-color: var(--header-bg-colour);
}

header > button {
    display: none;
}

header > a > img {
    max-height: 25px;
}

@media screen and (max-width: 768px) {
    header {
        position: sticky;
        top: 0;
    }

    header > button {
        display: block;
    }
}