/* button styling in App.css */

header > a.profile-link > img {
    height: 2em;
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    border: 1px solid var(--border-medium);
    border-radius: 0.3em;
}
header > a.profile-link:hover > img {
    background-color: var(--secondary-bg);
    border-color: var(--border-strong);
}