.homepage {
    padding: 0 var(--main-horizontal-padding);
    background-color: var(--clr-primary-bg);
}

.homepage > p {
    line-height: 2.2em;
    margin: 1.6em 0;
}
.homepage > p > img {
    min-width: 10em;
    max-width: 100%;
    margin-bottom: 2em;
    border: 1px solid black;
}

@media (min-width: 768px) {
    .homepage {
        padding: 0 2.2em;
    }

    .homepage > p > img {
        max-width: 40%;
        float: left;
        margin: 0.5em 2em 2em 0;
    }
}