@import './values/dimensions.css';
@import './values/colours.css';
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--primary-text);
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
}

.hidden {
    display: none !important;
}

.error {
    width: max-content;
    height: max-content;
    margin: auto;
    padding: 0.5em;
    text-align: center;
    color: var(--error-text);
    font-size: 1.3em;
    font-weight: bold;
    background-color: var(--error-bg);
}
.error::before {
    content: '\26a0\a0';
    color: var(--error-symbol);
}

@media (min-width: 768px) {
    body {
        font-size: calc(15px + 0.3vw);
    }
}