.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 97;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-loading-bg);
}
.loading > img {
    width: 5em;
    filter: invert(20%);
    animation: spin 5s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}