.nav__overlay {
    position: fixed;
    z-index: 98;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-menu-overlay-bg);
}

.nav__button-open,
.nav__button-close {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    padding: 0.2em;
    font-size: 2em;
    background-color: transparent;
    border: none;
    border-radius: 0.3em;
}
.nav__button-close {
    align-self: flex-end;
    margin: 0.3em 0.3em 0 0;
}
.nav__button-open > img,
.nav__button-close > img {
    max-height: 100%;
    max-width: 100%;
}
.nav__button-open:hover,
.nav__button-close:hover {
    background-color: var(--clr-secondary-bg);
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: max-content;
    max-width: 300px;
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 1.5em;
    background-color: var(--clr-primary-bg);
    transition: 0.2s;
}
.nav--closed {
    left: -300px;
}

nav > a {
    padding: 0.5em 2em 0.5em 2em;
    color: inherit;
    font-size: 1.2em;
    text-decoration: none;
}
nav > a:first-of-type {
    margin-top: 0.5em;
}
nav > a:hover {
    background-color: var(--clr-secondary-bg);
}

nav > hr {
    width: 80%;
    height: 0;
    margin: 1.2em auto;
    border: none;
    border-top: 1px solid var(--clr-border-wk);
}

@media (min-width: 1024px) {
    nav > a {
        font-size: 1em;
    }
}

@media (min-width: 1366px) {
    .nav__overlay {
        display: none;
    }

    nav {
        height: fit-content;
        position: sticky;
        top: 0;
        z-index: initial;
        grid-area: nav;
    }

    nav > a {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        font-size: 0.9em;
    }

    .nav__button-open,
    .nav__button-close {
        display: none;
    }
}