:root {
    --sidebar-width: 300px;
    --sidebar-gutter-width: 25px;
}

.sidebar {
    position: relative;
    min-height: calc(100vh - var(--header-height));
    display: none;
    width: var(--sidebar-width);
    background-color: var(--primary-bg);
}

.sidebar > h3 {
    padding: 0.5em;
    text-align: center;
    font-size: 1em;
}

.sidebar-list {
    height: 0;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
    row-gap: 1.2em;
    column-gap: 100px; /* just push unwanted columns off screen */
    overflow: hidden;
    padding-left: var(--sidebar-gutter-width);
    margin-bottom: 1em;
}
.sidebar-list > a {
    color: inherit;
    text-decoration: none;
}

@media (min-width: 1024px) {
    .sidebar {
        display: initial;
    }
}