.sidebar-card {
    position: relative;
    width: calc(var(--sidebar-width) - (var(--sidebar-gutter-width) * 2));
    aspect-ratio: 1.2;
    overflow: hidden;
    background-size: cover;
    border: 1px solid var(--border-weak);
    border-radius: 0.2em;
}

.sidebar-card:hover {
    border-color: var(--border-medium);
}

.sidebar-card > h4 {
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    background-color: var(--sidebar-item-bg);
}

.sidebar-card > span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.3em;
    font-size: 0.7em;
    background-color: var(--sidebar-item-bg);
}