.votes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.votes--negative {
    color: var(--clr-votes-negative);
}

.votes > button {
    padding: 0.2em;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.votes > button > img {
    max-width: 100%;
    aspect-ratio: 1;
}
.votes > button:hover {
    background-color: var(--clr-secondary-bg);
}

.votes__button--up {
    transform: rotate(0deg);
}
.votes__button--down {
    transform: rotate(180deg);
}
.votes__button--up-active {
    background-color: var(--clr-votes-up-bg) !important;
}
.votes__button--down-active {
    background-color: var(--clr-votes-down-bg) !important;
}

.votes > span {
    margin: 0 0.2em;
}